<div>

    <ul id="recipeList">
        {{#each feed}} 
            <li class="list-group-item list-group-item-info">
                <h2><a href="/recipes/id/{{this._id}}">{{this.title}}</a></h2>
                <dl>
                    <dt>
                        Author
                    </dt>
                    <dd>
                        <a href ="/otherUser/{{this.author_id}}">{{this.author}}</a>
                    </dd>
                    <dt>
                        Tags
                    </dt>
                    <dd>
                        <ul>
                            {{#each this.tags}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </dd>
                </dl>
            </li>  
        {{/each}}
    </ul>

</div>