<div>
    <h1>{{user.name}}</h1>
    <h2>{{user.num_followers}} Followers</h2>
    <h2>{{user.num_following}} Following</h2>
    {{#if isFollowing}}
        <form action="/follow/{{user._id}}" id="follow_form" method="POST">
            <button type="submit" id="follow_button" hidden>Follow</button>
            <button type="submit" id="unfollow_button" >Unfollow</button>
        </form>
    {{else}}
        <form action="/follow/{{user._id}}" id="follow_form" method="POST">
            <button type="submit" id="follow_button" >Follow</button>
            <button type="submit" id="unfollow_button" hidden>Unfollow</button>
        </form>
    {{/if}}
</div>
