<div id="userProfile">
    <h1>{{user.username}}</h1>
    <button type="button" class="btn btn-outline-primary btn-sm"><a href="/followers" class="followLink">{{user.num_followers}} Followers</a></button>
    <button type="button" class="btn btn-outline-primary btn-sm"><a href="/following" class="followLink">{{user.num_following}} Following</a></button>
     <button type="button" class="btn btn-outline-primary btn-sm "><a href="/tags" class="tagLink"> Tags </a></button>
    <div>
        <ul id="recipeList">{{#each recipes}} <li><a href="/recipes/id/{{this._id}}">{{this.title}}</a></li> {{/each}}</ul>
    </div>
    
    <button class="btn btn-secondary btn-outline-dark" <a href="/logout">Logout</a></button>
    <button type="button" class="btn btn-info btn-outline-dark"><a href="/editUser">Edit Profile</a></button>
</div>