<div>
    <h1>{{recipe.title}}</h1>
    
    <dl class="recipeInfo" class="list-group">
        <dt>Author</dt>
        <dd class="list-group-item">
            <a href="/otheruser/{{recipe.author_id}}">{{recipe.author}}</a>
        </dd>

        <dt>Ingredients</dt>
        <dd class="list-group-item">
            <ul>
                {{#each recipe.ingredients}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>

        <dt>Instructions</dt>
        <dd class="list-group-item">{{recipe.instructions}}</dd>

        <dt>Tags</dt>
        <dd class="list-group-item">
            <ul>
                {{#each recipe.tags}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>

        <dt class="list-group">Likes</dt>
        <dd class="list-group-item">
            <ul>
                <li class="list-group-item">
                    {{recipe.total_likes}}
                </li>
                <li class="list-group-item">
                    <a href="/recipes/likesList/{{recipe._id}}">View users who liked this post</a>
                </li>
            </ul>
        </dd>

        <dt>Comments</dt>
        <dd class="list-group-item">
            <ul>
                {{#each_upto comments 5}}
                    <li>
                        <a href="/otheruser/{{this.user_id}}">{{this.user}}</a>
                        <p>{{this.comment}}</p>
                        {{#if this.own_comment}}
                            <a href="/recipes/deleteComment/{{this._id}}">Delete comment.</a>
                        {{/if}}
                    </li>
                {{/each_upto}}
            </ul>
          <button class="btn btn-outline-primary"><a href="/recipes/commentsList/{{recipe._id}}">View more comments</a></button>
        </dd>
        
        {{!-- need to add likes and comments! --}}
    </dl>

     <button class="btn btn-outline-primary"> <a href="/recipes/toggleLike/{{recipe._id}}">{{like_dislike}}</a></button>
    <button class="btn btn-outline-primary"><a href="/recipes/addComment/{{recipe._id}}">Add comment</a></button>

    {{#if own_recipe}}
        <button class="btn btn-outline-primary"><a href="/recipes/delete/{{recipe._id}}">Delete recipe</a></button>
       <button class="btn btn-outline-primary"> <a href="/recipes/edit/{{recipe._id}}">Edit recipe</a></button>
    {{/if}}

</div>