<div>
    <h1>{{recipe.title}}</h1>
    
    <dl>
        <dt>Author</dt>
        <dd>
            <a href="/otheruser/{{recipe.author_id}}">{{recipe.author}}</a>
        </dd>

        <dt>Ingredients</dt>
        <dd>
            <ul>
                {{#each recipe.ingredients}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>

        <dt>Instructions</dt>
        <dd>{{recipe.instructions}}</dd>

        <dt>Pictures</dt>
        <dd>{{recipe.pictures}}</dd>

        <dt>Tags</dt>
        <dd>
            <ul>
                {{#each recipe.tags}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>

        <dt>Likes</dt>
        <dd>
            <ul>
                <li>
                    {{recipe.total_likes}}
                </li>
                <li>
                    <a href="/recipes/likesList/{{recipe._id}}">View users who liked this post.</a>
                </li>
            </ul>
        </dd>

        <dt>Comments</dt>
        <dd>
            <ul>
                {{#each_upto comments 5}}
                    <li>
                        <a href="/otheruser/{{this.user_id}}">{{this.user}}</a>
                    </li>
                    <li>{{this.comment}}</li>
                    {{#if this.own_comment}}
                        <li>
                            <a href="/recipes/deleteComment/{{this._id}}">Delete comment.</a>
                        </li>
                    {{/if}}
                {{/each_upto}}
            </ul>
            <a href="/recipes/commentsList/{{recipe._id}}">View more comments.</a>
        </dd>
        
        {{!-- need to add likes and comments! --}}
    </dl>

    <a href="/recipes/toggleLike/{{recipe._id}}">{{like_dislike}}</a>
    <a href="/recipes/addComment/{{recipe._id}}">Add comment</a>

    {{#if own_recipe}}
        <a href="/recipes/delete/{{recipe._id}}">Delete recipe.</a>
        <a href="/recipes/edit/{{recipe._id}}">Edit recipe.</a>
    {{/if}}

</div>